%% -*- mode: erlang -*-

{require_min_otp_vsn, "22"}.

{plugins, [rebar3_proper]}.

{deps, [
        {zotonic_stdlib, "1.4.0"}
]}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.

{profiles,
 [{test, [
	  {erl_opts, [nowarn_export_all]},
	  {deps, [proper, recon]}
	 ]}
 ]}.
